body {
  margin: 0;
  background-color: #cecccc;
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  height: 20vh;
  background-color: #3f3f3f;
}

.content {
  background-color: #ffffff;
  margin: 0 auto;
  width: 75%;
  height: 70vh;
}

.footer {
  background-color: black;
  margin: 0 auto;
  width: 75%;
  height: 10vh;
}  